{%extends 'base.html'%}

{%block title%}
Главная страница
{% endblock %}

{%block content%}
    
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Название</th>
            <th scope="col">Цена</th>
            <th scope="col">Количество шт.</th>
            <th scope="col">Дата покупки</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
            {%for product in product_list%}
          <tr>
            <th scope="row">{{product.id_product.name}}</th>
            <td>{{product.price}} руб.</td>
            <td>{{product.quantity}}</td>
            <td>{{product.date_purchase}}</td>
            <td><button class="btn primary"><a href="{% url 'delete' id=product.id %}"> Удалить продукт</a></button></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
<button >
     <a href="{% url 'script'%}"> Анализ</a>
</button>

{%endblock%}